.pnf-404{
    display:flex;
    margin:auto;
    align-items:center;
    vertical-align:middle;
    justify-content: center;
    z-index: 20000000;
    
    h1{
        font-size: 7rem;
        text-align:center;
    }
}