.pnf-404{
    display:flex;
    margin:auto;
    align-items:center;
    vertical-align:middle;
    justify-content: center;
    
    
    h1{
        font-size: 5rem;
        text-align:center;
    }
}