.studentAppearences{
    margin: 2rem auto;
    align-items: center;
    display:flex;
    align-items: center;
    justify-content:center;
    text-align:center;

    h1{
        font-size:1.25rem
    }
}


.studentAppearences-course{
    border: 1px solid $secondaryColor;
    border-radius: 4px;
    padding:1.2rem;
    width:80%;
    margin: 1rem auto;

    h3{
        margin-top:0;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        border-bottom: 1px solid $secondaryColor;
    }
}   

.studentAppearences-courseLessons{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    overflow: auto;

    .studentAppearences-lesson{
        display:flex;
        flex-direction: column;
        align-items:center;
        padding-top: 0.5rem ;
        padding-bottom: 0.5rem ;
        border-bottom: 1px solid $secondaryColor;
        width: 90%;
        margin: auto;

        .studentAppearences-lessonTitle{
            width:100%;
            display: flex;
            justify-content:space-around;
            align-items:center;
            margin: 0.5rem auto;

            span{
                font-size: 1rem;
                font-weight:500;
            }
            .firstSpan{
                margin-right: 0.5rem;
            }
            .secondSpan{
                min-width: 10rem;
            }
        }
    }
    .studentAppearences-lesson:last-of-type{
        border-bottom:none;
    }
}

.studentAppearences-notAppeared{
    margin:auto;
    width:80%;

    form{
        display: flex;
        flex-direction: column;
    }

    .selectAttended{
        width:65%;
        display:block;
        margin:auto;
        margin-bottom: 0.5rem;

        select{
            width:100%;
            height:2rem;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .textandbutton{
        display: flex;
    }
    textArea{
        width:54%;
        min-width: 150px;
        height:2rem;
        min-height: 2rem;
        text-align: center;
        display: block;
        // display: flex;
        // align-items: center;
        // justify-content:center;
    }
    button{
        width:10vw;
        // margin-left: 0.5rem;
        margin: auto;
        background-color: $secondaryColor;
        color: white;;
        border: none;
        padding: 0.3rem;

        &:hover{
            cursor: pointer;
            background-color:lighten($color: $secondaryColor, $amount: 5%)
        }
    }
}