
.myCourses-course{
    width:80%;
    height:5rem;
    padding: 1rem;
    margin: 2rem auto;
    border: 1px solid #303F9F;
    border-radius: 4px;
    display:flex;
    justify-content:space-between;
    align-items:center;

    &:hover{
        background-color:darken($color: $all-backgroundColor, $amount: 8%);
        transition: all 0.3s linear;
        cursor:pointer;
    }

    .myCourses-courseName{
        font-size: 0.95rem;
        font-weight: 500;
        width: 8rem;
        border-right: $nav-BottomBorder;
    }

    .myCourses-courseDates{
        display:flex;
        flex-direction: column;
        justify-content: center; 

        div{
            font-weight: 300;
        }
    }

    .myCourses-courseBD,.myCourses-courseED{
        font-weight: 400;
    }
}

.not-included{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}